# RetailCRM
RETAILCRM_URL=https://semenbaranovdmb.retailcrm.ru/
RETAILCRM_API_KEY=u0ULvcAckhbVeJaJFQpjuqkQaasOJmVN

# Supabase — берём из Project Settings → API
NEXT_PUBLIC_SUPABASE_URL=https://lfohqtomnyldtdttyozd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=lfohqtomnyldtdttyozd
SUPABASE_SERVICE_ROLE_KEY=lfohqtomnyldtdttyozd

# Telegram Bot
TELEGRAM_BOT_TOKEN=8633245248:AAEOdayIxHWwrscyIkYzkv7l1IWVFriaijc
TELEGRAM_CHAT_ID=8633245248
